* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.788);
}

.btn-container {
  height: 50px;
  position: relative;
}

.popup-btn,
.reset {
  position: absolute;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border: none;
}

.popup-btn {
  top: 50%;
  left: 45%;
  transform: translate(-50%, -30%);
  background-color: rgba(0, 0, 255, 0.493);
}

.reset {
  top: 50%;
  left: 55%;
  transform: translate(-50%, -30%);
  background-color: pink;
}
